.container {
  background-color: var(--light);
  width: 90%;
  height: 90%;
  border-radius: var(--borderRadius);
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 1260px) {
  .container {
    width: 1150px;
  }
}